<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.bin.login.mapper.RoleMapper">

    <resultMap id="RoleResult" type="Role">
        <result column="role_id" property="roleId" />
        <result column="role_name" property="roleName" />
        <result column="role_description" property="roleDescription" />
        <result column="create_by" property="createBy" />
        <result column="update_by" property="updateBy" />
        <result column="update_time" property="updateTime" />
        <result column="create_time" property="createTime" />
        <result column="remark" property="remark" />
        <result column="del_flag" property="delFlag" />
        <result column="bak" property="bak" />
    </resultMap>

    <select id="selectOneRole" parameterType="Role" resultMap="RoleResult">
        select * from sys_role
        <where>
        del_flag = 0
            <if test="roleId != null and roleId != ''"> and role_id = #{roleId}</if>
            <if test="roleName != null and roleName != ''"> and role_name = #{roleName}</if>
            <if test="roleDescription != null and roleDescription != ''"> and role_description = #{roleDescription}</if>
            <if test="createBy != null "> and create_by = #{createBy}</if>
            <if test="updateBy != null "> and update_by = #{updateBy}</if>
            <if test="updateTime != null "> and update_time = #{updateTime}</if>
            <if test="createTime != null "> and create_time = #{createTime}</if>
            <if test="remark != null and remark != ''"> and remark = #{remark}</if>
            <if test="bak != null and bak != ''"> and bak = #{bak}</if>
        </where>
    </select>

    <select id="selectAllRole" parameterType="Role" resultMap="RoleResult">
        select * from sys_role
        <where>
            del_flag = 0
            <if test="roleId != null and roleId != ''"> and role_id = #{roleId}</if>
            <if test="roleName != null and roleName != ''"> and role_name = #{roleName}</if>
            <if test="roleDescription != null and roleDescription != ''"> and role_description = #{roleDescription}</if>
            <if test="createBy != null "> and create_by = #{createBy}</if>
            <if test="updateBy != null "> and update_by = #{updateBy}</if>
            <if test="updateTime != null "> and update_time = #{updateTime}</if>
            <if test="createTime != null "> and create_time = #{createTime}</if>
            <if test="remark != null and remark != ''"> and remark = #{remark}</if>
            <if test="bak != null and bak != ''"> and bak = #{bak}</if>
        </where>
    </select>

    <insert id="insertRole" parameterType="Role" >
        insert into sys_role
        <trim prefix="(" suffix=")" suffixOverrides=",">
            <if test="roleId != null and roleId != ''">role_id,</if>
            <if test="roleName != null and roleName != ''">role_name,</if>
            <if test="roleDescription != null and roleDescription != ''">role_description,</if>
            <if test="createBy != null ">create_by,</if>
            <if test="updateBy != null ">update_by,</if>
            create_time,
            update_time,
            <if test="remark != null and remark != ''">remark,</if>
            <if test="bak != null and bak != ''">bak,</if>
        </trim>
        <trim prefix="values (" suffix=")" suffixOverrides=",">
            <if test="roleId != null and roleId != ''"> #{roleId},</if>
            <if test="roleName != null and roleName != ''"> #{roleName},</if>
            <if test="roleDescription != null and roleDescription != ''"> #{roleDescription},</if>
            <if test="createBy != null "> #{createBy},</if>
            <if test="updateBy != null "> #{updateBy},</if>
            now(),
            now(),
            <if test="remark != null and remark != ''"> #{remark},</if>
            <if test="bak != null and bak != ''"> #{bak},</if>
        </trim>
    </insert>

    <update id="updateRole" parameterType="Role" >
        update sys_role
        <trim prefix="SET" suffixOverrides=",">
            <if test="roleName != null ">role_name = #{roleName},</if>
            <if test="roleDescription != null ">role_description = #{roleDescription},</if>
            <if test="createBy != null ">create_by = #{createBy},</if>
            <if test="updateBy != null ">update_by = #{updateBy},</if>
            <if test="updateTime != null ">update_time = now(),</if>
            <if test="remark != null ">remark = #{remark},</if>
            <if test="bak != null ">bak = #{bak},</if>
        </trim>
        where role_id = #{roleId}
    </update>

    <update id="deleteRole" parameterType="String">
        update sys_role set del_flag = 1 where role_id = #{roleId}
    </update>

    <select id="selectByUserId" parameterType="Integer" resultMap="RoleResult">
        select * from sys_role where role_id in (select role_id from sys_user_role where user_id=#{userId})
    </select>

</mapper>